button {
  background: #0a8f08;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.checkout {
  padding: 20px;
  background: white;
}

input {
  display: block;
  width: 100%;
  padding: 8px;
  margin: 8px 0;
}

.oculto {
  display: none;
}
